* {
    box-sizing: border-box;
}

body{
    font-family: 'Be Vietman', sans-serif;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 174px auto;
    width: 100vw;
}

.header1, .header3{
    width:8%;
}
.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:84%;
    font-size: 13px;
    font-weight: lighter;
    padding-top: 50px;
    padding-bottom: 120px;
}

.header2 img{
    animation: rotar_img 3s infinite alternate;
}

@keyframes rotar_img {
    to{
        transform: rotate(360deg);
    }
}

.header_navbar_menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    
}

.header_navbar_menu li {
    margin-right: 20px; 
}

ul li a{
    text-decoration: none;
    color: #242E52;
}

a:hover{
    cursor: pointer; 
    color: #242E52;
    opacity: 60%;
}

.boton_contacto{
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 134px;
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
}

.banner1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding-bottom: 80px;
}


.hombrecamisaamarilla{
    width: 450px;
}

.banner1_col_1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}

.banner1_col_2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}

.banner1_col_2 p:nth-child(1){
    font-size: 45px;
    font-weight: bold;
    color: #232C50;
    text-align: right;
}

.banner1_col_2 p:nth-child(2){
    font-size: 17px;
    font-weight: lighter;
    color: #000000;
    text-align: right;
}

.banner2_div1, .banner2_div2{
    width:8%;
}

.banner2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 168px auto;
    background-color: #8B48BF;
}

.banner2_col_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
}

.banner2_col_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
}

.banner2_col_1 p:nth-child(1){
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.banner2_col_2 p:nth-child(1){
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: left;
}

.noticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 428px auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FAFAFA;
}

.noticias_fil_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.noticias_fil_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noticia_fil_1_col_1 .c1, .noticia_fil_1_col_1 .c2, .noticia_fil_1_col_2 .c1, .noticia_fil_1_col_2 .c2, .noticia_fil_2_col_1 .c1, .noticia_fil_2_col_1 .c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticia_fil_1_div1, .noticia_fil_1_div2, .noticia_fil_1_div3{
    width:10%;
}

.noticia_fil_1_div1 p, .noticia_fil_1_div2 p, .noticia_fil_1_div3 p{
    display: none;
}

.noticia_fil_1_col_1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:40%;
    border-right: 20px;
    padding-bottom: 20px;
}

.noticia_fil_1_col_2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:40%;
    border-left: 20px;
    padding-bottom: 20px;
}

.noticia_fil_1_col_1 .c1{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_1_col_1 .c2{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_1_col_1 .c2 p:nth-child(1){
    font-weight: bold;
    font-size: 16px;
    color: #323851;
}

.noticia_fil_1_col_1 .c2 p:nth-child(2){
    font-weight: lighter;
    font-size: 16.3px;
    color: #B3B2B7;
    text-align: justify;
}

.noticia_fil_1_col_2 .c1{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_1_col_2 .c2{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_1_col_2 .c2 p:nth-child(1){
    font-weight: bold;
    font-size: 16px;
    color: #323851;
}

.noticia_fil_1_col_2 .c2 p:nth-child(2){
    font-weight: lighter;
    font-size: 16.3px;
    color: #B3B2B7;
    text-align: justify;
}

.noticia_fil_2_col_1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:40%;
}

.noticia_fil_2_col_1 .c1{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_2_col_1 .c2{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 15px;
}

.noticia_fil_2_col_1 .c2 p:nth-child(1){
    font-weight: bold;
    font-size: 16px;
    color: #323851;
}

.noticia_fil_2_col_1 .c2 p:nth-child(2){
    font-weight: lighter;
    font-size: 16.3px;
    color: #B3B2B7;
    text-align: justify;
}

.noticia_fil_2_div1, .noticia_fil_2_div1 p{
    display: none;
}

.boton_noticia{
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    height: 43px;
    width: 69px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.mejores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.mejores_fil1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mejores_fil2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.mejores_titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.mejores_titulo p{
    color: #242E53;
    font-size: 39.21px;
    font-weight: bold;
}

.cartas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.card{
    background-color: #FAFAFA;
    width: 445px auto;
    height: 254px auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.foto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -34px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.texto h3{
    margin-top: 4rem;
    text-align: center;
    font-size: 16.07px;
    font-weight: bold;
    color: #3F4868;
}

.texto p{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #B9B9C1;
}

.botonmore{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.boton-more, .boton-go{
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 134px;
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
}

.boton-go{
    width: 63px;
}

#search-input::placeholder {
    font-size: 13.18px; 
    color: #888;
    padding-left: 10px;
}

.busqueda{
    padding-top: 50px;
    padding-left: 50px;
}

.input{
    background-color: white;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 201px;
    font-weight: lighter;
    color: #FFFFFF;
}

.banner3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    height: 224px auto;
}

.banner3_fil1, .banner3_fil3{
    width:15%;
}

.banner3 .banner3_fil2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 80%;
}

.banner3 p{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.boton-goforit{
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 134px;
    font-size: 13.18px;
    font-weight: lighter;
    color: #8B48BF;
}

/*boton seleccionado web*/
.boton-more:hover , .boton_contacto:hover, .boton-go{
    cursor: pointer; 
    background-color: rgba(139, 72, 191, 0.7);
}

/*boton seleccionado web*/
.boton-goforit:hover{
    cursor: pointer; 
    background-color: #f2f2f2;
}

/*footer web*/
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    background-color: #1E1E26;
    padding: 0 80px;
}

.logoeiconos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}

.contenedoriconos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;

}

.iconos {
    display: flex;
    margin-left: 13px;
    gap: 9px;
}

.logofooter {
    width: 107.68px;
    height: auto;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 30px;
}

.lista1 {
    margin-right: 219px;
}

.listas ul {
    list-style: none;
    line-height: 35px;
}

.listas ul li a {
    text-decoration: none;
    color: white;
}

#Copyright {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 80px;
}

.referencias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 224px auto;
    background-color: #8B48BF;
}

.referencias_div1, .referencias_div3{
    width:12%;
}

.referencias_div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 76%;
}

.referencias_div2 p:nth-child(1){
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
}

.boton_referencia{
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    height: 44px;
    width: 134px;
    font-size: 13.18px;
    font-weight: lighter;
    color: #8B48BF;
}

@media(max-width:480px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px auto;
        width: 367.68px auto;
    }

    .header1, .header3{
        width: 5%;
    }

    .header2{
        width: 95%;
    }

    .header2 img{
        height: 25px;
        width: 107.68px;
    }

    .header2 .header_navbar{
        display: none;
    }

    .header2 button{
        display: none;
    }
    .header2::after{
        content: url("./../img/icon-hamburger.svg");
        alt: "imagen";
    }

    .banner1{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        height: auto;
        padding-bottom: 80px;
    }

    .banner1_col_1{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
    }
    
    .banner1_col_2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
    }

    .hombrecamisaamarilla{
        width: 100%;
        height: 80%;
    }

    .banner1_col_2 p:nth-child(1){
        font-size: 45px;
        font-weight: bold;
        color: #232C50;
        text-align: right;
    }

    .banner1_col_2 p:nth-child(1){
        font-size: 45px;
        font-weight: bold;
        color: #232C50;
        text-align: right;
    }
    
    .banner1_col_2 p:nth-child(2){
        font-size: 17px;
        font-weight: lighter;
        color: #000000;
        text-align: right;
    }

    .banner1_col_2 p:nth-child(1) br:nth-child(3), .banner1_col_2 p:nth-child(2) br:nth-child(1), 
    .banner2_col_1 p:nth-child(1) br:nth-child(1){
        display: none;
    }

    .banner2_col_2 p{
        display: none;
    }

    .banner2_col_2::after{
        content: "Manage provides all the functionality your teas needs, without the complexity. Our software is tailor-made for modern digital product teams";
        color: #FFFFFF;
        font-size: 16px;
        font-weight: lighter;
        text-align: left;
    }

    .banner2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 168px auto;
        background-color: #3CDDF3;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .banner2_col_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .banner2_col_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .noticias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 428px auto;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #FFFFFF;
    }

    .noticias_fil_1, .noticias_fil_2{
        display: block;
        /*clear: both;*/
        width: 85%;
        justify-content: left;
        align-items: center;
    }

    .noticia_fil_1_col_1{
        background-color: rgba(139, 72, 191, 0.3);
        border: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 43px;
        width: 446px;
        font-size: 16px;
        font-weight: bold;
        color: #B3B2B7;
    }

    .noticia_fil_1_col_1 .c2 p:nth-child(2){
        display: none;
    }

    .noticia_fil_1_col_2{
        background-color: rgba(139, 72, 191, 0.3);
        border: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 43px;
        width: 446px;
        font-size: 16px;
        font-weight: bold;
        color: #323851;
    }

    .noticia_fil_1_col_2 .c2 p:nth-child(2){
        display: none;
    }

    .noticia_fil_1_div2, .noticia_fil_1_div3, .noticia_fil_1_div2 p, .noticia_fil_1_div3 p{
        display: flex;
        padding: 10px;
        font-size: 16.3px;
        font-weight: lighter;
        color: #B3B2B7;
        width: 100%;
    }

    .noticia_fil_2_col_1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width:80%;
        background-color: rgba(139, 72, 191, 0.3);
        border: none;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 43px;
        width: 446px;
        font-size: 16px;
        font-weight: bold;
        color: #323851;
    }

    .noticia_fil_2_col_1 .c2 p:nth-child(2){
        display: none;
    }

    .noticia_fil_2_div1, .noticia_fil_2_div1 p{
        display: flex;
        padding: 10px;
        font-size: 16.3px;
        font-weight: lighter;
        color: #B3B2B7;
        width: 100%;
    }

    .mejores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .mejores_fil2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 60px;
    }

    .mejores_titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .cartas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
    }

    .card{
        background-color: #FAFAFA;
        width: 445px auto;
        height: 254px auto;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }

    .cartas .card:nth-child(1), .cartas .card:nth-child(3){
        display: none;
    }

    .banner3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3CDDF3;
        height: 366px auto;
        padding-top: 10px;
        padding-bottom: 60px;
    }

    .banner3 .banner3_fil1, .banner3 .banner3_fil3{
        width:10%;
    }

    .banner3 .banner3_fil2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 65%;
    }

    .banner3 .banner3_fil2 p{
        color: #FFFFFF;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }

    .banner3 .boton-goforit{
        background-color: #232C50;
        border: none;
        border-radius: 50px;
        height: 44px;
        width: 134px;
        font-size: 13.18px;
        font-weight: lighter;
        color: #FFFFFF;
    }

    /*footer movil*/
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: 534.71px;
        background-color: #1E1E26;
        padding: 0 50px;
    }

    .listas {
        padding-top: 0;
    }

    .lista1 {
        margin-right: 110px;
        padding-left: 35px;
    }

    .busqueda {
        padding-left: 0px;
    }

    .input {
        width: 308px;
    }

    #Copyright {
        position: absolute;
        padding-top: 0;
        padding-left: 0;
        margin: 0;
        position: relative;
        top: 400px;
        text-align: center;
    }

    .logoeiconos {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
    }

    .iconos {
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 69px;
        position: relative;
        top: -80px;
    }
    .contenedoriconos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        position: relative;
        top: -40px;
    }

    .card{
        margin-top: 50px;
    }

}